html, body {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .appbar-navlink .mud-nav-link {
        font-size: 14px !important;
        padding: 8px 6px 8px 0px;
    }

    .appbar-navlink .mud-nav-link-text {
        margin: 0 12px 0 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    .appbar-contact-info .mud-typography {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 680px) {
    .appbar-contact-info {
        display: none !important;
    }
}