@page "/aboutus"
@using MudBlazor

<MudImage Style="display: block; margin-top: 70px; margin-left: auto; margin-right: auto; width: 14%" Src="img/CareDent.png"></MudImage>
<MudText Align="Align.Center" Style="color: #e23d74; font-size: 45px">CareDent</MudText>

<MudContainer>
    <MudGrid Justify="Justify.Center">
        <MudItem md="12">
            <MudText Style="font-size: 19px; line-height: 1.5; word-wrap: break-word; margin-top: 50px; text-indent: 40px">CareDent е модерен дентален център, чиято цел е да предостави на своите пациенти висококачествено лечение и съвременен подход. Ние имаме богат опит в областта на денталната медицина. Нашият приоритет е Вашето оптимално здраве. Стараем се да персонализираме нашето лечение според нуждите на всеки отделен пациент, като крайната ни цел е да постигнем възможно най-добрия резултат по отношение на вашето благополучие.</MudText>
        </MudItem>
        <MudItem md="12">
            <MudCard Style="border: 1px solid #ff518c; border-radius: 0; background-color: #1a2026; width: 100%; font-style: italic">
                <MudCardContent>
                    <MudText Style="font-size: 17px; line-height: 1.5; word-wrap: break-word;">Доверявайки ни се можете да бъдете спокойни относно спазването на всички хигенни норми и изисквания за безопасността на Вашето здраве!</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem md="6">
            <MudCard Style="border: 1px solid #9e99eb; border-radius: 0; background-color: #1a2026; width: 100%;" Elevation="0">
                <div class="d-flex justify-center">
                    <MudCardHeader><MudText Typo="Typo.h6">Сключени договори</MudText></MudCardHeader>
                </div>
                <MudCardContent>
                    <div class="d-flex">
                        <MudImage Class="rounded-lg" Style="display: block; width: 20%; height: 20%; background-color: ghostwhite; padding: 2px" Src="img/nzok.png" Fluid="true"></MudImage>
                        <MudText Style="font-size: 17px; margin-left: 20px;">НЗОК (Национална Здравно Осигурителна Каса)</MudText>
                    </div>
                    <div class="d-flex mt-4">
                        <MudImage Class="rounded-lg" Style="display: block; width: 20%; height: 20%; background-color: ghostwhite; padding: 2px" Src="img/dzi.png" Fluid="true"></MudImage>
                        <MudText Style="font-size: 17px; margin-left: 20px;">ДЗИ Животозастраховане</MudText>
                    </div>
                    <div class="d-flex mt-4">
                        <MudImage Class="rounded-lg" Style="display: block; width: 20%; height: 20%; background-color: ghostwhite; padding: 2px" Src="img/euroins.png" Fluid="true"></MudImage>
                        <MudText Style="font-size: 17px; margin-left: 20px;">ЕВРОИНС Животостраховане</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem md="6">
            <MudCard Style="border: 1px solid #9e99eb; border-radius: 0; background-color: #1a2026; width: 100%;" Elevation="0">
                <div class="d-flex justify-center">
                    <MudCardHeader><MudText Typo="Typo.h6">Отстъпки</MudText></MudCardHeader>
                </div>
                <MudCardContent>
                    <div class="d-flex">
                        <MudImage Class="rounded-lg" Style="display: block; width: 50%; height: 50%; background-color: ghostwhite; padding: 2px" Src="img/family-discount.png" Fluid="true"></MudImage>
                        <div>
                            <MudText Style="font-size: 17px; margin-left: 20px;">Семейна Карта CareDent: С нея получаване 20% отстъпка на всички предлагани дентални услуги</MudText>
                            <MudText Style="font-size: 17px; margin-left: 20px; margin-top: 30px">Безплатно почистване на зъбен камък и полиране: CareDent  подарява безплатно почистване на зъбен камък и полиране , ако разкажете на Ваш близък или приятел за Нас и той стане наш пациент</MudText>
                        </div>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

<div style="height: 500px">
</div>

@code {

}
