@page "/"
@using CareDentWeb.Pages.CustomComponents
@using MudBlazor

<div style="position: relative; text-align: center">
    <MudImage Src="img/smile-family.jpg" Fluid="true" Style="margin-top: 50px" id="home"></MudImage>
    <div style="position: absolute; top: 4%; left: 32%; color: black">
        <MudText Style="font-size: 2.5vw">С грижа за Вас и Вашата усмивка!</MudText>
        <MudText Style="font-size: 1.5vw">Стараем се да я запазим, защото Тя е важна за Нас!</MudText>
    </div>
</div>

<AboutUs></AboutUs>
<DentalServices></DentalServices>
<Contacts></Contacts>

<div style="margin: 1000px">

</div>